@import url(http://fonts.googleapis.com/css?family=Lato:400,700?|PT++Mono);

/* Reset geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

:root {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
}
